<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>
    <% include ../partials/nav.ejs %>
    <!--  -->
    <div class="container">
        <div class="alert alert-info text-center" role="alert">
            To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
        </div>
        <hr>
       
            <div class="col-md-6">
            <form action="" method="post">
                <div class="form-group">
                    <label for="">Nom</label>
                    <input type="text" class="form-control" id="text" aria-describedby="Nom de la Nouvelle" name="nomNouvel" value="<%= objet.nomNouvel %>">
                </div>
                <div class="form-group">
                    <label for="Contenu">Contenu</label>
                    <input type="text" class="form-control" id="contenu" name="contenu" value="<%= objet.contenu %>">
                </div>
                <div class="form-group">
                    <label for="Contenu">Type</label>
                    <input type="text" class="form-control" id="type" name="type" value="<%= objet.type %>">
                </div>
                <input type="hidden"  name="id" value="<%= objet.id %>">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      </div>

  </body>
</html>